<!DOCTYPE>
<html ng-app="firstApp">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Angular JS Sample App">
    <meta name="keywords" content="Angular, App, HTML, JavaScript, Tutorial">
    <meta name="author" content="Shashant Panwar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS Sample App</title>
    <script src="../angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <header>
        <h1>Angular JS Sample Application</h1>
    </header>
    <nav>
        <ul>
            <a href="#">HTML</a> | <a href="#">CSS</a> | <a href="#">Angular JS</a>
        </ul>
    </nav>
    <section>
        <div ng-controller="firstCtrl">
            <h3>Binding Using Module & Controller in main.js</h3>
            <label>Name: </label>
            <input type="text" placeholder="Enter name:" ng-model="username" value="{{username}}" />
            <h3>{{fnHello() + ' ' + username}}!</h3>
        </div>
        <hr  />
        <div ng-controller="nameCtrl">
            <h3>Name Controller</h3>
            <label>Name: </label>
            <input type="text" placeholder="Enter name:" ng-model="name" ng-keyup="fnDisplayNumeric();" />
            <h3>Total name value for {{ name }} is {{ totalValue }}</h3>
        </div>
        <div id="test-div" ng-app="testApp">
            <p>
                This is a p of test-div.
            </p>
        </div>
    </section>
    <hr />
    <footer>@2017 copyright Shashant
        <script>
            //testing how angular picks selectors.....
            var elem = document.getElementById('test-div');
            console.log(elem);
            console.log(elem.getAttribute('ng-app'));
            console.log(document.querySelector('[ng-app]'));
        </script>
    </footer>
</body>

</html>
