<!DOCTYPE>
<html ng-app="app">

<head>
    <meta name="description" content="Angular JS Sample App" />
    <meta name="keywords" content="Angular, App, HTML, JavaScript, Tutorial" />
    <meta name="author" content="Shashant Panwar" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular JS Sample App</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
</head>

<body>
    <header>
        <h1>Module 2</h1>
    </header>
    <hr />
    <div class="container">
        <section>
            <div class="form-group" ng-controller="testCtrl">
                <h3>Filters</h3>
                    <div class="form-group message">
                    </div>
                <input type="text" ng-model="usertext"  /> {{ usertext | textchange : message}}
                <button class="btn btn-default" ng-click="changeMsg()">Change Msg</button>
            </div>
        </section>
    </div>
    <hr />
    <footer>
        @Copyright Shashant
    </footer>
</body>

</html>
