<html ng-app="module2">
<head>
    <meta name="description" content="Angular JS Sample App" />
    <meta name="keywords" content="Angular, App, HTML, JavaScript, Tutorial" />
    <meta name="author" content="Shashant Panwar" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular JS Sample App</title>
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.min.css" />
</head>
<body>
    <header>
        <h1>Custom Service with .factory()</h1>
    </header>
    <hr />
    <div class="container">
        <section>
            <div class="form-group" ng-controller="ShoppingListController as shoppingList">
                <ul>
                    <li ng-repeat="item in shoppingList.itemsList">
                        {{item.quantity}} {{item.name}}
                        <button class="btn btn-danger" ng-click="shoppingList.removeItem($index)">Remove</button>
                    </li>
                </ul>
            </div>

            <div class="form-group" ng-controller="ShoppingAddController as addShopper">
                <input type="text" placeholder="Item" ng-model="addShopper.name" />
                <input type="text" placeholder="Quantity" ng-model="addShopper.quantity" />
                <button class="btn btn-success" ng-click="addShopper.addItem()">Add Item</button>
            </div>
        </section>
    </div>
    <hr />
    <footer>
        @Copyright Shashant
    </footer>
</body>
</html>
